button {
  cursor: pointer;
}

.mono {
  font-family: monospace;
}

.unstyled-button {
  background: transparent;
  border: none;
}

.App {
  text-align: center;
}

.List {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.ListItem {
  padding: 2%;
}

.Light {
  border-radius: 50%;
  height: 1rem;
  width: 0.5rem;
}
